.innerPanel {
  background-color: #303030;
  width: 100%;
  height: 100%;
}

.itemImg {
  object-fit: fill;
  height: 85%;
  width: 85%;
}

.mat-expansion-panel-body {
  padding: 25px !important ;
  background-color: #303030;
}

app-item-slot {
  width: 100%;
  height: 100%;
}

.innerPanel {
  padding: 5px;
  display: block;
}
